---
layout: default
---

<div class="buttons notranslate desktop-only">
<nav class="share" role="navigation">
<a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
title="Share on Facebook" class="button">
<span class="count count-facebook">0</span>
<i class="icon icon-facebook notranslate" aria-hidden="true"></i>
</a>
<a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ page.title | cgi_escape }}"
title="Share on Twitter" class="button">
<span class="count count-twitter">0</span>
<i class="icon icon-twitter notranslate" aria-hidden="true"></i>
</a>

<a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}%3F{{ page.date | date: "%Y-%U" }}&amp;title={{ page.title | cgi_escape }}"
title="Share on Reddit" class="button">
<span class="count count-reddit">0</span>
<i class="icon icon-reddit notranslate" aria-hidden="true"></i>
</a>
<a href="http://news.ycombinator.com/submitlink?u={{ site.url }}{{ page.url }}%3F{{ page.date | date: "%Y-%U" }}&amp;t={{ page.title | cgi_escape }}"
title="Share on Hacker News" class="button">
<i class="icon icon-hackernews notranslate" aria-hidden="true"></i>
</a>
</nav>
</div>
</header>

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
